{% extends '::base.html.twig' %}

{% block body %}

<div id="content">

<form id="frmHome" method="post" action="">

</form>

</div>

<script language="JavaScript" type="text/javascript">
$(document).ready(function(){

});
</script>
{% endblock %}
