		<div id="modalPopup" class="modal">
			<div class="modal-content">
				<div class="container">
					<div class="row">
						<div class="section">
							<div class="col s12 l8 offset-l2 ">
								<div class="card">
									<div class="card-content">
										<h5 class="center">Modificar Contrase単a</h5>
										<div class="divider"></div>
										<div class="row">
											<div class="section">
												<div class="col s12">
													<div class="row">
														<div class="input-field col s12">
															<i class="material-icons prefix">vpn_key</i>
															<input id="txtPassOld" type="password" class="validate">
															<label for="txtPassOld">Ingresar Contrase単a Actual (*)</label>
														</div>
														<div class="input-field col s12">
															<i class="material-icons prefix">vpn_key</i>
															<input id="txtPassNew" type="password" class="validate">
															<label for="txtPassNew">Ingresar Contrase単a Nueva (*)</label>
														</div>
														<div class="input-field col s12">
															<i class="material-icons prefix">vpn_key</i>
															<input id="txtPassReNew" type="password" class="validate">
															<label for="txtPassReNew">Re-Ingresar Contrase単a Nueva (*)</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">  
											<div class="col s12 center">									
												<a href="javascript: void(0);" class="waves-effect waves-light btn black" onclick="javascript:FxChangePasswordJS();">Aceptar</a>
											</div>	
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

