.margin-top-noticia{
	margin-top:20px
}

.buscador{
	width:100% !important;
}

.with-border {
    border-top: solid 1px #d5d5d5;
	border-bottom: solid 1px #d5d5d5;
	width: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../images/ciudad.png');
	background-position: bottom;
	background-repeat: no-repeat;	
}

main {
	flex: 1 0 auto;
}
  
.copeteTxt{
	font-size:16px;
	font-weight: 400;
	margin-bottom:20px;
	color: rgba(0, 0, 0, 0.87);
} 
 
 ul.share-buttons{
	list-style: none;
	padding: 0;
	padding-top: 6px;
}

ul.share-buttons li{
	display: inline;
}

ul.share-buttons .sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.social-header{
	margin-left: 15px;
	/*float:left;*/
	margin-top:7px;
}	

.date{
	padding-left: 10px;
	margin-left:10px;
	margin-top: 26px;
	font-weight: 300;
	font-size: 0.9em;
}

.dateDay{
	font-weight:400;
}

.tiempo-widget{
	width:182px;
	margin: 0 auto;
}

.socialDateContent{
	/*width:300px;*/
	margin: 0 auto;
}

.titleNews{
	font-size: 2.5rem;
    line-height: 110%;
    margin: 0 0 1.168rem 0;
	color: rgba(0, 0, 0, 0.87);
	font-weight:bold;
}

.titleNews2{
	font-size: 1.8rem;
    line-height: 110%;
    margin: 0 0 1.168rem 0;
	color: rgba(0, 0, 0, 0.87);
	font-weight:bold;
}



blockquote {
	border-left: 5px solid #1565c0 !important ;
}

.headerMarginCustom{
	margin-left:20px;
	margin-right:20px;
}

.BtnPaddingCustom{
	padding-left:20px;
	padding-right:20px;
}

.BtnModule1{
	width:30%;
}

.BtnModule2{
	width:20%;
}

.BtnModule3{
	width:30%;
}

.BtnModule4{
	width:40%;
}

.BtnModule5{
	width:40%;
}

.pagination li.active {
    background-color: #f44336;
}

.modalLoading {
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}

.pointerOnHover:hover{
	cursor: pointer!important;
}

/****************************************************/
/* INICIO: Fix para Plugin de Materialize Paginator */
/****************************************************/
.pagination li {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}

.pagination li a {
  color: #444;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  background-color: #f44336;
  color: #fff;
}

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  font-size: 2.2rem;
  vertical-align: middle;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}
/*************************************************/
/* FIN: Fix para Plugin de Materialize Paginator */
/*************************************************/

.margingBottomNull{
	margin-bottom:0!important;
}

footer.page-footer {
	padding-top:0 !important;
}


footer.page-footer .footer-copyright {
	background-color: #630E4B !important;
}

/*ICONOS SOCIAL MEDIA*/
/* hollow sm icons */
a, a:hover {
    text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
	box-sizing: content-box;
    text-align: center;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: #FFF;
    background-color: #630E4B;
    padding-top: 12px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.OtrasNoticias{
	width:100% !important;
	font-weight:300;
}

.OtrasNoticiasContent{
	padding: 20px!important;
}

/*Container Custom*/

.container {
    width: 85%!important;
}

.card .card-content {
    padding: 15px !important;
    border-radius: 0 0 2px 2px;
}

.blueCheckbox[type="checkbox"].filled-in:checked + label:after{
	border: 2px solid #1565C0;
    background-color: #1565C0;
}

.News2{
	padding:20px;
    padding-left: 0px;
    padding-right: 0px;	
}

.codigo54411MainColor{
	background-color: #630E4B !important;
}

.newsViewClassP p{
	margin: 15px !important;
}